.footer {
position: fixed;
height: var(--footer);
background: var(--gray);
width: 100vw;
bottom: 0;
left: 0;
z-index: 10;
box-shadow: 0 0 3rem var(--black-50);
border-radius: 1rem 1rem 0 0;
display: flex;
align-items: center;
padding: 1.5rem;
}
.footer svg {
font-size: 1.25rem !important;
}
.footer__refresh {
display: flex;
align-items: center;
background: var(--black-15);
padding: 0.325rem 0.75rem;
border-radius: 0.5rem;
margin-right: 1rem;
transition: all 0.2s;
}
.footer__refresh:hover {
box-shadow: 0 0.25rem 0.5rem var(--black-50);
}
.footer__refresh svg {
margin-right: 0.5rem;
}
.footer__buttons {
display: flex;
align-items: center;
gap: 1rem;
margin-left: 1rem;
}
.footer__buttons button{
background: none;
color: var(--white);
border: none;
width: 2rem;
height: 2rem;
border-radius: 99px;
display: grid;
place-items: center;
background: var(--black-15);
transition: all 0.2s;
padding: 0;
}
.footer button svg {
font-size: 1.5rem !important;
}
.footer__buttons button:hover{
background: var(--green);
transform: scale(1.15);
}
.footer__buttons button:focus{
outline: none;
}

.footer__timer {
display: flex;
align-items: center;
margin: 0 1rem;
flex: auto;
}
.footer .MuiLinearProgress-root {
flex: 80%;
background-color: var(--black-50) !important;
}
.footer .MuiLinearProgress-bar {
background-color: var(--green) !important;
}
.footer__clock {
margin-right: 1rem;
font-size: 0.85rem;
flex: 20%;
}
.footer__clock small {
font-size: 0.66rem;
font-weight: 700;
opacity: 0.5;
}
