.leaderboard {
margin-left: auto;
width: 25%;
max-width: 280px;
background: var(--black);
padding: 2rem 1.5rem;
box-shadow: 0 0 3rem var(--black-50);
z-index: 2;
padding-bottom: var(--footer);
display: flex;
flex-direction: column;
}

.leaderboard__header {
display: flex;
border-radius: 0.5rem;
padding: 1rem;
background: var(--white-05);
align-items: center;
justify-content: space-between;
margin-bottom: 3rem;
box-shadow: 0 0.25rem 0.25rem var(--black-15);
}
.header__name {
line-height: 1;
margin-right: 0.85rem;
color: var(--white);
text-transform: capitalize;
}
.header__name small {
display: block;
padding-bottom: 0.33rem;
opacity: 0.5;
font-weight: 700;
}
.header__icon {
width: 3rem;
height: 3rem;
padding: 0.5rem;
border-radius: 99px;
box-shadow: 0 0.25rem 0.25rem var(--black-15);
background: var(--white-05);
margin-left: auto;
}

.leaderboard__teams {
margin: 1rem 0 2rem 0;
padding: 0.5rem 0;
border-radius: 0.5rem;
background: var(--white-05);
box-shadow: 0 0.25rem 0.25rem var(--black-15);
overflow: scroll;
}
.leaderboard__teams li {
display: flex;
padding: 0.75rem 1rem;
padding-left: 3.5rem;
align-items: center;
position: relative;
overflow: hidden;
transition: all 0.2s;
opacity: 0.5;
user-select: none;
}
.leaderboard__teams li:nth-of-type(1),
.leaderboard__teams li:nth-of-type(2),
.leaderboard__teams li:nth-of-type(3) {
opacity: 1;
}
.leaderboard__teams li * {
transition: all 0.2s;
}
.leaderboard__teams li.active {
opacity: 1 !important;
background: var(--white-05);
color: var(--green);
font-weight: 700;
}
li.active .leaderboard__rank {
color: var(--green);
background: var(--white-05);
}
.leaderboard__teamname, .header__name p {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
padding-right: 1rem;
}
.leaderboard__rank {
position: absolute;
display: block;
left: 0.75rem;
font-weight: 800;
color: var(--white-50);
width: 2rem;
height: 2rem;
line-height: 1;
display: grid;
place-items: center;
background: var(--gray);
border-radius: 99px;
}
.leaderboard__score {
margin-left: auto;
color: var(--green);
font-weight: 700;
}
.leaderboard__score small {
font-size: 0.75rem;
color: var(--white-50);
}
.leaderboard__teams li svg {
width: 1.75rem;
height: 1.75rem;
margin-right: 1rem;
position: absolute;
left: 0.875rem;
}
.leaderboard__teams li:nth-of-type(1) svg {
fill: var(--gold);
}
.leaderboard__teams li:nth-of-type(2) svg {
fill: var(--silver);
}
.leaderboard__teams li:nth-of-type(3) svg {
fill: var(--bronze);
}
