.levelCompleted {
  position: fixed;
  border-radius: 0.5rem;
  background: var(--white);
  background-image: url(../assets/levelComplete.gif);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 5rem;
  z-index: 8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1.5rem 2rem -0.5rem var(--black-50);
}
.levelCompleted h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 800;
  color: var(--green);
  text-align: center;
}
.levelCompleted h4 {
  margin: 1rem 0 2rem 0;
  color: var(--black);
  font-size: 1.25rem;
}
.levelCompleted p {
  color: var(--black);
  margin-bottom: 2rem;
  text-align: center;
}
.levelCompleted p.contestComplete {
  margin-bottom: 0;
  width: 320px;
}
.levelCompleted button {
  margin: 0 auto;
}
