.quest {
width: 100%;
height: 100%;
position: relative;
overflow: scroll;
background: linear-gradient(to bottom, var(--black-50), var(--black-50)), url('https://picsum.photos/640/360');
background-size: cover;
}
.quest__box {
position: absolute;
max-width: 640px;
width: 75%;
padding: 1.5rem;
background: var(--white-15);
box-shadow: 0 1rem 1rem var(--black-15);
backdrop-filter: blur(10px);
left: 3rem;
bottom: var(--footer);
margin-bottom: 3rem;
border-radius: 0.5rem;
}
.quest__box img.completed {
position: absolute;
right: -1.5rem;
bottom: 1rem;
width: 4rem;
height: auto;
filter: drop-shadow(0 0.5rem 1rem var(--black-15));
}
.quest__hint {
padding: 0.5rem 1rem 0.5rem 0.75rem;
background: var(--white-15);
border-radius: 0.5rem;
box-shadow: 0 0.25rem 0.5rem var(--black-15);
margin-top: 1rem;
width: fit-content;
display: flex;
align-items: center;
}
.quest__hint.accuracy {
padding: 0.5rem 1rem;
}
.quest__hint.accuracy b {
padding-right: 0.75rem;
}
.quest__hint img {
height: 2rem;
width: auto;
margin-right: 0.75rem;
transform: scaleY(0.85);
}
.quest__question {
font-weight: 600;
font-size: 1.15rem;
}
.quest__answer {
display: flex;
flex-flow: column;
margin-top: 1.5rem;
}
.quest__answer input {
margin-bottom: 1rem;
max-width: auto;
max-width: none;
}
.quest__answer button:disabled {
opacity: 0;
}