.sidebar {
width: 30%;
max-width: 300px;
background: var(--black);
padding: 2rem 1.5rem;
box-shadow: 0 0 3rem var(--black-50);
z-index: 2;
display: flex;
flex-direction: column;
padding-bottom: var(--footer);
}
.sidebar__info {
opacity: 0.25;
padding-bottom: 2rem;
position: relative;
bottom: 0;
margin-top: auto;
}
.sidebar__levels {
padding: 2rem 0;
flex: 0 0 auto;
}
.sidebar__levels li {
display: flex;
padding: 0.75rem 1.5rem;
align-items: center;
margin-left: -1.5rem;
width: calc(100% + 3rem);
position: relative;
overflow: hidden;
transition: all 0.2s;
opacity: 0.25;
user-select: none;
}
.sidebar__levels li::before {
position: absolute;
content: '';
width: 0.25rem;
height: 50%;
border-radius: 1rem 0 0 1rem;
background: var(--green);
right: 0;
transform: translateX(100%);
transition: all 0.2s;
}
.sidebar__levels li:hover {
background: var(--white-15);
}
.sidebar__levels svg {
font-size: 1.25rem !important;
margin-right: 1rem;
}
.sidebar__levels li.active {
font-weight: 800;
color: var(--green);
opacity: 1;
}
.sidebar__levels li.active::before {
transform: translateX(0);
}
.sidebar__logo {
height: 3rem;
width: auto;
align-self: flex-start;
}
