.sidebar {
width: 30%;
max-width: 300px;
background: var(--black);
padding: 2rem 1.5rem;
box-shadow: 0 0 3rem var(--black-50);
z-index: 2;
display: flex;
flex-direction: column;
padding-bottom: var(--footer);
}
.sidebar__info {
opacity: 0.25;
padding: 1rem 0;
position: relative;
}
.sidebar__info::before {
content: '';
position: absolute;
width: 100%;
height: 1px;
background: var(--white-50);
top: 0;
left: 0;
}
.sidebar__levels {
padding: 2rem 0;
flex: 0 0 auto;
}
.sidebar__levels li {
display: flex;
padding: 0.75rem 1.5rem;
align-items: center;
margin-left: -1.5rem;
width: calc(100% + 3rem);
position: relative;
overflow: hidden;
transition: all 0.2s;
opacity: 0.25;
user-select: none;
}
.sidebar__levels li::before {
position: absolute;
content: '';
width: 0.25rem;
height: 50%;
border-radius: 1rem 0 0 1rem;
background: var(--green);
right: 0;
transform: translateX(100%);
transition: all 0.2s;
}
.sidebar__levels li:hover {
background: var(--white-15);
}
.sidebar__levels svg {
font-size: 1.25rem !important;
margin-right: 1rem;
}
.sidebar__levels li.active {
font-weight: 800;
color: var(--green);
opacity: 1;
}
.sidebar__levels li.active::before {
transform: translateX(0);
}
.sidebar__logo {
height: 2rem;
margin-left: -2px;
width: auto;
align-self: flex-start;
}
.sidebar__hints {
margin-top: auto;
padding-bottom: 2rem;
}
.sidebar__hints p {
opacity: 0.5;
}
.sidebar__hintsImg {
display: grid;
width: 100%;
grid-template-columns: repeat(3, 1fr);
grid-column-gap: 0.5rem;
margin-top: 1.5rem;
}
.sidebar__hintsImg img.hintUsed {
opacity: 0.5;
}
