.unsupported {
background: var(--white);
width: 100vw;
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 3rem;
text-align: center;
}
.unsupported img {
width: 80%;
max-width: 300px;
}
.unsupported > span {
max-width: 480px;
}
.unsupported h1 {
color: var(--black);
margin-top: 3rem;
line-height: 1.2;
font-size: 1.5rem;
font-weight: 800;
}
.unsupported p {
color: var(--black-50);
margin-top: 1rem;
}